body{
	background-color:mediumspringgreen;font-family:Tahoma;font-size:14рх;}
h1{
	color:blue;font-family:monotype corsiva;font-size:50px;}
hr{
	background-color:blue; width:50%;height:5px;}
.s1{
	font-family:cursive;font-size:14рx;}
.s2{
	background-color:darkseagreen;}
img{
	width:250px; height:150px; border:2px solid black;}
h2{
	background-color:aqua;font-family:Comic Sans MS;} 
h3{
	font-size:24рx;}